.navbar-logo {
  height:50px
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar a.navbar-brand,
.navbar a.navbar-brand {
  color: #f2f2f2;
}

.navbar a.navbar-brand:hover,
.navbar a.navbar-brand:focus {
  color: #f0ad4e;
}
