<div id="headerwrap">
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h1>Climbing gear delivered <br>
         at the drop of a dime.</h1>
      <form class="form-inline" role="form">
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="your email address">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Invite me!</button>
      </form>
    </div><!--/col-lg-6-->
    <div class="col-lg-6">
      <img class="img-responsive" src="/static/crux/assets/img/ipad-hand.png" alt="">
    </div><!--/col-lg-6-->

  </div><!--/row-->
</div><!--/container-->
</div><!--/headerwrap-->


<div class="container">
<div class="row mt centered">
  <div class="col-lg-6 col-lg-offset-3">
    <h1>Accessing climbing gear<br/>has never been easier</h1>
    <h3>Trust us, your apartment will thank you.</h3>
  </div>
</div><!--/row-->

<div class="row mt centered">
  <div class="col-lg-4">
    <img src="/static/crux/assets/img/flat-hotel.svg" width="180" alt="store climbing gear">
    <h4>1 - Gear Hotel</h4>
    <p>Keep your gear (and its smell) with us. We'll tuck it in and read it bed time stories until you need it.</p>
  </div><!--/col-lg-4-->

  <div class="col-lg-4">
    <img src="/static/crux/assets/img/flat-bank.svg" width="180" alt="rent climbing gear">
    <h4>2 - Rent it Out</h4>
    <p>Save money by renting our gear, or put your own gear to work and save up for that crashpad you always wanted.</p>

  </div><!--/col-lg-4-->

  <div class="col-lg-4">
    <img src="/static/crux/assets/img/flat-delivery.svg" width="180" alt="deliver climbing gear">
    <h4>3 - Door to Door</h4>
    <p>As soon as you need it, your gear will be delivered to you at the drop of a dime.</p>

  </div><!--/col-lg-4-->
</div><!--/row-->
</div><!--/container-->

<div class="container">
<hr>
<div class="row centered">
  <div class="col-lg-6 col-lg-offset-3">
    <form class="form-inline" role="form">
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="your email address">
      </div>
      <button type="submit" class="btn btn-warning btn-lg">Seriously, invite me!</button>
    </form>
  </div>
  <div class="col-lg-3"></div>
</div><!--/row-->
<hr>
</div><!--/container-->

<div class="container">
<div class="row mt centered">
  <div class="col-lg-6 col-lg-offset-3">
    <h1>Hassle-Free Climbing Gear</h1>
    <h3>Worry more about climbing and less about logistics. We'll help you manage your stash of gear, so you can focus on having fun.</h3>
  </div>
</div><!--/row-->

<!--CAROUSEL-->
<div class="row mt centered">
  <div class="col-lg-6 col-lg-offset-3">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!--Wrapper for slides-->
      <div class="carousel-inner">
        <div class="item active">
          <img src="/static/crux/assets/img/iphone-store.svg" alt="rent climbing gear on mobile">
        </div>
        <div class="item">
          <img src="/static/crux/assets/img/iphone-store.svg" alt="store your gear with us and rent it out to other climbers">
        </div>
        <div class="item">
          <img src="/static/crux/assets/img/iphone-store.svg" alt="scheduled or immediate delivery of your climbing gear">
        </div>
      </div>
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
    </div>
  </div><!--/col-lg-8-->
</div><!--/row-->
</div><!--/container-->

<div class="container">
<hr>
<div class="row centered">
  <div class="col-lg-6 col-lg-offset-3">
    <form class="form-inline" role="form">
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="your email address">
      </div>
      <button type="submit" class="btn btn-warning btn-lg">Invite me already!</button>
    </form>
  </div>
  <div class="col-lg-3"></div>
</div><!--/row-->
<hr>
</div><!--/container-->

<div class="container">
<div class="row mt centered">
  <div class="col-lg-6 col-lg-offset-3">
    <h1>We're climbers too.</h1>
    <h3>Living in New York is cramped enough without an epic pile of smelly climbing gear to greet you daily. We needed a way to store our gear and access it quickly. <br><br> That's why we founded crux.</h3>
  </div>
</div><!--/row-->

<div class="row mt centered">
  <div class="col-lg-12">
    <img class="img-circle" src="/static/crux/assets/img/pic1.jpg" width="140" alt="">
    <h4>John Salvatore</h4>
    <p>"The best climber in the world is the one who's having the most fun"</p>
    <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
  </div><!--/col-lg-4-->
</div><!--/row-->
</div><!--/container-->

<div class="container">
<hr>
<p class="centered">crux.nyc - 2015</p>
</div><!--/container-->
